* {
    padding: 0;
    margin: 0;
}

.header {
    background: url(/picture/header_fon.jpg) no-repeat;
    height: 500px;
    text-align: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.header__nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    height: 74px;
    margin: 0 auto;
}

/* привет */

.header__label {
    font: normal 26px/26px 'Lora', sans-serif;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.header__nav-item {
    font: normal 12px/20px 'Oxygen', sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 20px;
}

.header__title {
    font: normal 50px/51px 'Lora', sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.main__text {
    font: normal 24px/35px 'Oxygen', sans-serif;
}

.footer {
    background-image: url(/picture/footer.jpg);
}

.footer__link {
    text-transform: uppercase;
}